{% extends 'base.html' %}

{% block head %}
    <title>Add a New Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Add a New Car</h1>
        <form action="{{ url_for('add_car') }}" method="POST">
    <label for="name">Car Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required>

    <label for="count_of_airbags">Count of Airbags:</label>
    <input type="text" id="count_of_airbags" name="count_of_airbags" required>

    <label for="has_sunroof">Sunroof:</label>
    <input type="checkbox" id="has_sunroof" name="has_sunroof">

    <label for="first_release_day">First Release Date:</label>
    <input type="date" id="first_release_day" name="first_release_day" required>

    <label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="image_url">

    <label for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        {% for company in companies %}
        <option value="{{ company[0] }}">{{ company[1] }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Add Car">
</form>

        <br>
        <a href="{{ url_for('list_cars') }}" class="link-button">View All Cars</a>
    </div>
{% endblock %}
