{% extends 'base.html' %}

{% block head %}
    <title>Car List</title>
{% endblock %}

{% block body %}
    <h1>Car List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car[0] }}</td>
                <td>{{ car[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('add_car') }}">Add Another Car</a>
{% endblock %}
